body {
	background-color: #E5E5E5;
	margin: 50px;
	color: #1A2130;
}

header {
	margin: 30px;
}

nav {
	padding-left: 10px;
}

.nav {
	margin: 20px;
	text-decoration: none;
	color: #1A2130;
}

hr {
	border: 1px solid #78797e;
}

section {
	padding: 30px;
}

footer {
	font-size: 12px;
	margin: 20px;
}